.note-list {
  list-style: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.note {
  background-color: var(--bg-note);
  padding: 16px 16px 12px;
  border-radius: 4px;
}
.note-main {
  margin-block: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.note-footer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--text-sm);
}

.note button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 50%;
}
.note button:focus,
.note button:hover {
  background-color: var(--bg-warning-hover);
  color: var(--fg-warning);
  outline: none;
}
.note button:active {
  background-color: var(--bg-warning-active);
  color: var(--fg-warning);
}

.material-symbols-rounded.text-xl {
  font-size: var(--text-xl);
}
