.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 8px;
  margin-block: 8px;
}

.search-form label {
  user-select: none;
  grid-column: 1 / span 2;
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
}

#q {
  background-color: var(--bg-q);
  padding: 8px 12px;
  border: none;
  border-start-start-radius: 4px;
  border-end-start-radius: 4px;
}
#q:focus {
  outline: none;
}

.search-form button {
  cursor: pointer;
  background-color: var(--bg-q);
  padding-inline: 8px;
  border: none;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}
.search-form button:focus,
.search-form button:hover {
  background-color: var(--bg-q-btn-hover);
  outline: none;
}
.search-form button:active {
  background-color: var(--bg-q-btn-active);
}
