.toolbar {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.toolbar button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 4px;
}
.toolbar button:focus,
.toolbar button:hover {
  background-color: var(--bg-btn-hover);
  outline: none;
}
.toolbar button:active {
  background-color: var(--bg-btn-active);
}

.material-symbols-rounded.text-4xl {
  font-size: var(--text-4xl);
}
.material-symbols-rounded.p-1 {
  padding: 4px;
}
